<?xml version="1.0"?>
<config>
	<modules>
	    <Thomas_Mails>
	    	<version>0.1.0</version>
	    </Thomas_Mails>
	</modules>
	<global>
		<blocks>
            <mails>
                <class>Thomas_Mails_Block</class>
            </mails>
        </blocks>
		<helpers>
			<mails>
				<class>Thomas_Mails_Helper</class>
			</mails>
		</helpers>
		<resources>
			<mails_setup>
				<setup>
					<module>Thomas_Mails</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</mails_setup>
			<mails_write>
				<connection>
					<use>core_write</use>
				</connection>
			</mails_write>
			<mails_read>
				<connection>
					<use>core_read</use>
				</connection>
			</mails_read>
		</resources>
		<models>
			<mails>
				<class>Thomas_Mails_Model</class>
				<resourceModel>mails_resource</resourceModel>
			</mails>
			<mails_resource>
				<class>Thomas_Mails_Model_Resource</class>
				<entities>
					<mails>
		                <table>mails</table>
		            </mails>
				</entities>
			</mails_resource>
		</models>
	</global>
	<admin>
		<routers>
			<mails>
				<use>admin</use>
				<args>
					<module>Thomas_Mails</module>
					<frontName>mails</frontName>
				</args>
			</mails>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<mails>
					<file>mails.xml</file>
				</mails>
			</updates>
		</layout>
		<menu>
			<customer>
				<children>
					<mails translate="title" module="mails">
						<title>Mails</title>
						<action>mails/adminhtml_index</action>
					</mails>
				</children>
			</customer>
		</menu>
	</adminhtml>
	<!-- -->
	<frontend>
		<events>

			<controller_action_predispatch>
				<observers>
					<add_event>
						<type>singleton</type>
						<class>mails/observer</class>
						<method>addEvent</method>
					</add_event>
				</observers>
			</controller_action_predispatch>
		 
			<contacts_post_save>
				<observers>
					<add_event>
						<type>singleton</type>
						<class>mails/action</class>
						<method>contactsPostsSave</method>
					</add_event>
				</observers>
			</contacts_post_save>
		</events>
	</frontend>
	<!-- -->
</config> 