<config>
  <sections>
    <mails translate="label" module="customer">
      <class>separator-top</class>
      <label>Mails</label>
      <tab>customer</tab>  
      <sort_order>1</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
    </mails>
  </sections>
</config>